.header {
  padding: 10px;
  grid-area: header;
  background-color: rgba(50, 32, 133, 0.438);
  display: grid;
  grid-template-columns: 50px 800px 300px;
  border-radius: 10px;
}

.header .headerText {
  font-weight: 600;
  font: sans-serif;
  text-align: center;
  font-size: 30px;
  color: cornsilk;
}

.header img  {
  width: 50px;
}

.loginBlock {
  font: sans-serif;
  text-align: center;
  font-size: 20px;
  color: cornsilk;
}

.loginBlock a {
  font: sans-serif;
  text-align: center;
  font-size: 20px;
  color: cornsilk;
}
.loginBlock a.activeLine {
  color: red;
  font-size: 25px;
}
.loginBlock :active {
  color: rgb(16, 18, 167);
}

.loginBlock :hover {
  font-size: 30px;
  color: darkgreen;
}


