.header {
  padding: 10px;
  grid-area: header;
  background-color: rgba(50, 32, 133, 0.438);
  display: grid;
   grid-template-columns: 50px 1000px;
   border-radius: 10px;
}

.header .headerText {
  font-weight: 600;
  font: sans-serif;
  text-align: center;
  font-size: 30px;
  color: cornsilk;
}

.header img {
  width: 50px;
}
